.client {
    padding: 94px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.client-permanent {
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.name-client {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo-client {
    margin-right: 30px;
 
}

.icon-logo-client {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo-client:hover,
.icon-logo-client:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.logo-client:nth-child(6) {
    margin-right: 0;
}